<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/organizers">Organizers</a></li>
      <li><a href="/eventtypes">EventTypes</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/reservations">Reservations</a></li>
    </ul>
  </body>
</html>
